<template lang="pug">
    .px-24.py-12
      div.flex.w-full.gap-x-6
        //- iframe(class="w-96 h-52" style="border:0" loading="lazy" allowfullscreen :src="mapUrl")

        div.w-full
          h2.my-3.text-2xl โรงแรมที่อนุญาตให้สัตว์เลี้ยงมาพักใน เชียงใหม่ 
          
          .grid.grid-cols-2.w-full.gap-x-12.gap-y-6
            div(class="bg-[#00B8A9] border border-[#2DD9CE] rounded-2xl pl-3 overflow-hidden")
              div.bg-white.py-2.rounded-2xl.px-2.flex.items-center.gap-x-3
                img(src="/calendar.svg" class="w-6 h-6")
                .flex.flex-col
                  span.text-xs.text-gray-400 เช็คอิน
                  .relative
                    span.text-gray-400.text {{checkInDate || "_ _ /_ _ / _ _"}}
                    input(v-model="checkInDate" type="date" class="absolute top-0 left-0 opacity-0 h-full w-full")
            
            div(class="bg-[#FDDADA] border border-[#FDDADA] rounded-2xl pl-3 overflow-hidden")
              div.bg-white.py-2.rounded-2xl.px-2.flex.items-center.gap-x-3
                img(src="/calendar.svg" class="w-6 h-6")
                .flex.flex-col
                  span.text-xs.text-gray-400 เช็คเอาต์
                  .relative
                    span.text-gray-400.text {{checkOutDate || "_ _ /_ _ / _ _"}}
                    input(v-model="checkOutDate" type="date" class="absolute top-0 left-0 opacity-0 h-full w-full")
            
            div.relative
              div(@click="showGuestDropdown =! showGuestDropdown" :class="showGuestDropdown ? 'guest-dropdown-button-open' : 'guest-dropdown-button-nomal'")
                div.bg-white.py-2.rounded-2xl.px-2.flex.items-center.gap-x-3
                  img(src="/calendar.svg" class="w-6 h-6")
                  .flex.flex-col
                    span.text-xs.text-gray-400 จำนวนแขก
                    span.text-gray-400.text ผู้ใหญ่ {{guest.adult}} คน, เด็ก {{guest.child}} คน

              div(v-if="showGuestDropdown" class="absolute top-14 left-0 z-10 w-full bg-[#838383] pl-3 py-2 rounded-b-2xl border border-[#838383]") 
                .bg-white.rounded-2xl.px-14.space-y-6.text-gray-400.py-6.text-xl
                  //- div.flex.justify-between
                  //-   span ห้อง
                  //-   .space-x-3
                  //-     button(@click="guestIncrement('room')") +
                  //-     span {{guest.room}}
                  //-     button(@click="guestDecrement('room')") -
                  div.flex.justify-between
                    span ผู้ใหญ่
                    .space-x-3
                      button(@click="guestIncrement('adult')") +
                      span {{guest.adult}}
                      button(@click="guestDecrement('adult')") -
                  div.flex.justify-between
                    span เด็ก
                    .space-x-3
                      button(@click="guestIncrement('child')") +
                      span {{guest.child}}
                      button(@click="guestDecrement('child')") -

            div(class="bg-[#838383] border border-[#838383] rounded-2xl pl-3 overflow-hidden")
              div.bg-white.py-2.rounded-2xl.px-2.flex.items-center.gap-x-3
                img(src="/calendar.svg" class="w-6 h-6")
                .flex.flex-col
                  span.text-xs.text-gray-400 จำนวนสัตว์เลี้ยง
                  span.text-gray-400.text สัตว์เลี้ยง 1 ตัว


          .space-y-6.mt-6
            div(v-for="(room, i) in rooms" :key="room.id" class="grid grid-cols-12 gap-x-3 border py-6 pl-14 pr-4")
              .col-span-3.w-full
                .grid.grid-cols-3.h-full
                    img(v-for="(img, idx) in room.images" :key="idx" :src="img" :class="`${idx === 0 ? 'col-span-3' : ''} h-full w-full object-cover`")
              .col-span-7.pl-6
                p.text-xl.py-3 {{room.name}}
                div(v-for="desc in splitDescription(room.description)") 
                  p.break-word {{desc}}
                div(v-for="service in room.services" :key="service.title" class="flex items-center")
                  input(type="checkbox" disabled="disabled" :checked="service.status")
                  span.ml-3 {{service.title}}
              div(class="col-span-2 text-[#838383] pt-3")
                p.text-sm ราคาเริ่มต้น (ต่อคืน)
                p.font-bold.line-through.text-xl {{room.basePrice}}
                span.text-xl B
                span(class="text-[#FF0000] font-bold text-xl ml-1") {{room.totalPrice}}

                nuxt-link(:to="`/booking/${room.id}`" class="block bg-[#00B8A9] text-white px-3 py-2 text-xl rounded-full mt-12" style="width: fit-content;")
                  span เลือกห้องพัก
            

</template>

<script>
export default {
  layout: 'loggedIn',
  data() {
    return {
      showGuestDropdown: false,
      guest: {
        room: 1,
        adult: 1,
        child: 1,
      },
      apiKey: this.$config.googleApiKey,
      lat: 19.0308391,
      long: 99.9219123,
      checkInDate: null,
      checkOutDate: null,
      rooms: [
        {
          id: 1,
          name: 'โรงแรมอาร์ค 39 อาร์ต แอนด์ คราฟท์',
          description: `ทางโรงแรมรับสัตว์ไซส์ S\n
                        ทางโรงแรมมีสระว่ายน้ำที่ให้น้องหมา น้องแมวลงเล่นได้ อีกทั้งมีสนามขนาดใหญ่ให้กับสัตว์เลี้ยงของท่าน\n
                        บริการเพิ่มเติมของโรงแรม\n `,
          services: [
            {
              title: 'อาบน้ำสัตว์เลี้ยง',
              status: true,
            },
            {
              title: 'ฝากสัตว์เลี้ยง',
              status: false,
            },
          ],
          images: [
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
          ],
          basePrice: 3890,
          totalPrice: 2178,
        },
        {
          id: 2,
          name: 'โรงแรมอาร์ค 39 อาร์ต แอนด์ คราฟท์',
          description: `ทางโรงแรมรับสัตว์ไซส์ S\n
                        ทางโรงแรมมีสระว่ายน้ำที่ให้น้องหมา น้องแมวลงเล่นได้ อีกทั้งมีสนามขนาดใหญ่ให้กับสัตว์เลี้ยงของท่าน\n
                        บริการเพิ่มเติมของโรงแรม\n `,
          services: [
            {
              title: 'อาบน้ำสัตว์เลี้ยง',
              status: true,
            },
            {
              title: 'ฝากสัตว์เลี้ยง',
              status: false,
            },
          ],
          images: [
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
          ],
          basePrice: 3890,
          totalPrice: 2178,
        },
        {
          id: 3,
          name: 'โรงแรมอาร์ค 39 อาร์ต แอนด์ คราฟท์',
          description: `ทางโรงแรมรับสัตว์ไซส์ S\n
                        ทางโรงแรมมีสระว่ายน้ำที่ให้น้องหมา น้องแมวลงเล่นได้ อีกทั้งมีสนามขนาดใหญ่ให้กับสัตว์เลี้ยงของท่าน\n
                        บริการเพิ่มเติมของโรงแรม\n `,
          services: [
            {
              title: 'อาบน้ำสัตว์เลี้ยง',
              status: true,
            },
            {
              title: 'ฝากสัตว์เลี้ยง',
              status: false,
            },
          ],
          images: [
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
            'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
          ],
          basePrice: 3890,
          totalPrice: 2178,
        },
      ],
    }
  },
  methods: {
    splitDescription(text) {
      return text.split('\n').map((e) => e.trim())
    },
    guestIncrement(type) {
      if (this.guest[type] >= 2) return 
      this.guest[type]++
    },
    guestDecrement(type) {
      if (type === 'child' && this.guest[type] <= 0) return
      if (type !== 'child' && this.guest[type] <= 1) return
      this.guest[type]--
    },
  },
  computed: {
    mapUrl() {
      return `https://www.google.com/maps/embed/v1/place?key=${this.apiKey}&q=${this.lat},${this.long}`
    },
  },
}
</script>

<style scoped>
input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.guest-dropdown-button-nomal {
  @apply bg-[#838383] border border-[#838383] rounded-2xl pl-3 overflow-hidden;
}

.guest-dropdown-button-open {
  @apply bg-[#838383] border border-[#838383] rounded-t-2xl pl-3 overflow-hidden;
}
</style>
