<template lang="pug">
div.pt-20
    <nav id="header" class="bg-white fixed w-full z-10 top-0 shadow ">
        <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

            <div class="w-1/2 pl-20 md:pl-20">
                <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                    <i class="fas fa-sun text-pink-600 pr-3"></i> Adop Place
                </a>
            </div>
            <div class="w-1/2 pr-20">
                <div class="flex relative inline-block float-right">
                    button.h-8.px-6.font-semibold.rounded-md.bg-black.text-white.rounded-xl(type="submit").space-x-4.space-x-reverse แจ้งเตือน
                    button.h-8.px-6.font-semibold.rounded-md.bg-blog1.text-white.rounded-xl(type="submit") Frofile
                    
                </div>
            </div>
        </div>
    </nav>
    </template>

    <script lang="js">
    export default {
    
    }
    </script>

    <style lang="postcss" scoped>
    .gangjor{
        @apply w-3/4
    }
    </style>