<template lang="pug">
    .flex.items-center.justify-between.px-24.py-6.border-b
        img(@click="$router.push('/booking')" src="/logo.svg" class="w-[200px] cursor-pointer")
        .flex.gap-x-12
            img(src="/cart.svg" class="w-6")
            div(@click="show = true" :class="`${show ? 'profile-open' : 'profile-normal'} cursor-pointer`") Profile
              div(v-if="show" class="bg-[#7D6A7D] absolute top-9 right-0 p-6 space-y-3 w-56 rounded-b-3xl")
                  p ชื่อ ณัฐวรรธ์ 
                  p สกุล ฟิงค์เลอร์
                  p เบอร์โทร 0620071385 
                  p อีเมล Patrick@xmail.com
                  button(class="bg-[#FFF586] text-black flex w-full justify-center rounded-lg py-1") แก้ไขโปรไฟล์
                  button(class="bg-[#FFF586] text-black flex w-full justify-center rounded-lg py-1") ออกจากระบบ
              button(v-if="show" @click="show = false")
                img(src="/close.svg" class="w-4 h-4")
</template>

<script>
export default {
  data() {
    return {
      show: false,
    }
  },
  methods: {},
  mounted() {
    window.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target) && e.target) {
        this.show = false
      }
    })
  },
  destroyed() {
    window.removeEventListener('click', () => {})
  },
}
</script>

<style scoped>
.profile-normal {
  @apply bg-[#7D6A7D] px-6 py-3 rounded-full text-white relative w-auto;
}

.profile-open {
  @apply bg-[#7D6A7D] px-6 py-3 rounded-t-3xl text-white relative w-56 flex justify-between items-center;
}
</style>
