<template lang="pug">
div.pt-20
    <nav id="header" class="bg-white fixed w-full z-10 top-0 shadow ">
        <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

            <div class="w-1/2 pl-2 md:pl-0">
                <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                    <i class="fas fa-sun text-pink-600 pr-3"></i> Adop Place
                </a>
                <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                    <i class="fas fa-sun text-pink-600 pr-3"></i> โรงแรมอาร์ค 39 อาร์ต แอนด์ คราฟท์
                </a>
            </div>
            <div class="w-1/2 pr-0">
                <div class="flex relative inline-block float-right">
                    button.h-8.px-6.font-semibold.rounded-md.bg-black.text-white.rounded-xl(type="submit") Login
                </div>

            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20" id="nav-content">
                <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                    <li class="mr-6 my-2 md:my-0">
                        <a href="report" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-600">
                            <i class="fas fa-home fa-fw mr-3 "></i><span class="pb-1 md:pb-0 text-sm">report</span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a href="promotion" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500">
                            <i class="fas fa-tasks fa-fw mr-3 "></i><span class="pb-1 md:pb-0 text-sm">promotion</span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a href="room" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-purple-500">
                            <i class="fa fa-envelope fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">room</span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a href="hotel" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-green-500">
                            <i class="fas fa-chart-area fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">hotel</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </nav>
    </template>

    <script lang="js">
    export default {
    
    }
    </script>
