<template lang="pug">
    .w-72
        div(class="flex justify-center text-white py-3 bg-[#042750]")
            p Promptpay
        .bg-white.flex.flex-col.items-center
            .w-60.h-60.mb-3
                QRcode(:value="promptpay")
            div(class="bg-[#F1CB3A] w-full py-2 flex flex-col items-center")
                p {{name}}
                p พร้อมเพย์: {{promptpayNumber}}
                p จำนวนเงิน: {{amount}} บาท
</template>

<script>
import Promptpay from 'promptpay-qr'
import QRcode from '@/components/QRcode.vue'
export default {
  name: 'promptpay',
  props: {
    name: String,
    promptpayNumber: String,
    amount: Number,
  },
  components: {
    QRcode,
  },
  computed: {
    promptpay() {
      return Promptpay(this.promptpayNumber, this.amount)
    },
  },
}
</script>
