<template lang="pug">
    canvas(id="qrcode-qrcode" class="!h-full !w-full")
</template>

<script>
import QRCode from 'qrcode'

export default {
  name: 'QRcode',
  props: {
    value: String,
  },
  mounted() {
    const canvas = document.getElementById('qrcode-qrcode')
    QRCode.toCanvas(
      canvas,
      this.value,
      {
        scale: 15,
      },
      (error) => {
        if (error) console.error(error)
      }
    )
  },
}
</script>
