<template lang="pug">
#app
    Navibar
    <nuxt/>
</template>
<script lang="js">
import Navibar from "../components/Navibar.vue"
export default {
    components:{
        Navibar
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
