<template lang="pug">
    #app
        <Navbar />
        <nuxt/>
</template>
<script lang="js">
import Navbar from "../components/LoggedInNavbar.vue"
export default {
    components:{
        Navbar
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
