<template lang="pug">
div
    a.block.p-10.text-2xl.pl-64 ข้อมูลโรงแรม
    div.pl-72
        table.table-auto
            thead
                tr
                    th
                    th
                tr.flex.items-center
                    td.p-3.w-40 รูปโรงแรม
                    span.sr-only Choose profile photo
                    input(type="file").block.text-sm.text-slate-500
                tr.flex.items-center
                    td.p-3.w-40 ชื่อโรงแรม
                    input(type="text").rounded-none.border-2.h-8.w-56
                tr.flex.items-center
                    td.p-3.w-40 เว็บไซต์
                    input(type="text").rounded-none.border-2.h-8.w-56
                tr.flex.items-center
                    td.p-3.w-40 อีเมล
                    input(type="text").rounded-none.border-2.h-8.w-56
                tr.flex.items-center
                    td.p-3.w-40 เบอร์โทรศัพท์
                    input(type="text").rounded-none.border-2.h-8.w-56
                tr.flex
                    td.p-3.w-40 รายระเอียดโรงแรม
                    input(type="text").rounded-none.border-2.h-40.w-56
        div.pl-40
            table.table-auto
                thead
                    tr
                        th 
                        th 
                    tr.flex.items-center
                        td.w-40 บริการเพิ่มเติม
                        td.w-56 บริการเพิ่มเติมสำหรับสัตว์เลี้ยง
                    tr.flex.items-center
                        input(type="checkbox")
                        a.p-3.w-40 อาหารเช้า
                        input(type="checkbox")
                        a.p-3 อาบน้ำสัตว์เลี้ยง
                    tr.flex.items-center
                        a.p-3.w-44
                        input(type="checkbox")
                        a.p-3 ฝากสัตว์เลี้ยง
            table.table-auto
                thead
                    tr
                        th 
                        th
                        th
                    tr.flex.items-center
                        td.w-40 ไซส์สัตว์เลี้ยงที่อนุญาติ
                    tr.flex.items-center
                        input(type="checkbox")
                        a.p-3 ไซส์ S
                        input(type="checkbox")
                        a.p-3 ไซส์ M
                        input(type="checkbox")
                        a.p-3 ไซส์ L

            div.pt-3
                button.h-8.px-2.font-semibold.rounded-md.bg-gray-200.text-black.rounded-xs(type="submit") บันทึก
        

</template>

<script lang="js">
export default {

}
</script>