<template lang="pug">

div
    p.block.p-10.text-2xl.pl-96 จัดการโปรโมชั่น
    div.flex.justify-center
        div.bg-white.border.rounded.shadow
            div.border-b.p-3.w-128
                h5.font-bold.text-gray-600 รายละเอียด
            div
                div.pl-12.p-4.bg-groon
                    div.flex.flex-row ส่วนลดจากเรท :
                        div.pl-2
                            input(type="text").rounded-none.border-2.h-8.w-12
                        div %
                        
                    div.flex.flex-row.pl-8 ข้อกำหนด :
                        div
                            div.pl-2
                                a เริ่มต้น :
                                a 25/11/2564
                            div.pl-2
                                a สิ้นสุด :
                                a 23/11/2564
                            div
                                button.h-8.px-2.font-semibold.rounded-md.bg-gray-200.text-black.rounded-xs(type="submit") บันทึก
                                
                
                    
        
            
                
                

</template>

<script lang="js">
export default {
    
}
</script>


