<template lang="pug">
div
    a.block.p-10.text-2xl.pl-64 รายงานเข้าห้องพัก
    div.pl-72
        table.table-auto.bg-white.border.rounded.shadow
            thead.bg-groon
                tr.border-b.p-3.bg-white
                    th.pl-3 ชื่อ
                    th ณัฐวรรธ์
                    th.text-left ฟิงค์เลอร์
                    th.text-right โทรเบอร์
                    th.pl-4.text-left 0620071385
                    th.text-right อีเมล
                    th.pl-4 soda54130@gmail.com
                    th
                    th.items-right
                        button.pl-54.text-gray-500 แก้ไข
                    th
                        button.p-3.text-red-500.items-right ลบ
                tr
                    td.p-3.text-center 001
                    td.p-3.w-40.text-center ห้องสุพีเรียร์สตูดิโอ
                    td 
                    td
                    td
                    td
                    td.text-right เช็คอิน
                    td.pl-2.w-56.text-left อังคาร 30 พ.ย. 2021
                    td รูปชำระเงิน
                    td ลิ้งค์ของสลิปเงิน
                tr
                    td.p-3
                    td.pl-5 ผู้ใหญ่
                    td.text-left 1
                    td
                    td
                    td
                    td
                    td.w-56.text-left ตั้งแต่ 14:00 ถึง 00:00
                    td 
                    td
                tr
                    td.p-3
                    td.pl-5 สัตว์เลี้ยง
                    td.text-left 1
                    td.pl-5.w-20 ไซส์ S
                    td.text-right /
                    td.pl-2.w-40 อาหารเช้า
                    td 
                    td
                    td
                    td
                tr
                    td.p-3
                    td.pl-5 
                    td
                    td.pl-5.w- ไซส์ M
                    td.text-right /
                    td.pl-2 อาบน้ำสัตว์เลี้ยง
                    td.text-right เช็คเอาท์
                    td.pl-2.w-56.text-left พฤหัสบดี 2 ธ.ค. 2021
                    td สถานะ :
                    td.custom-select.w-10
                        select
                            option(value="0") ยังไม่ได้ชำระเงิน
                            option(value="1") ชำระเงินแล้ว
                tr
                    td.p-3
                    td.pl-5 
                    td
                    td.pl-5.w- ไซส์ L
                    td.text-right /
                    td.pl-2 ฝากสัตว์เลี้ยง
                    td
                    td.w-56.text-left ตั้งแต่ 12:00 ถึง 14:00
                    td
                    td
                

</template>

<script lang="js">
export default {
    
}
</script>
