<template lang="pug">
div
    p.block.p-10.text-2xl.pl-96 การจัดการห้องพัก
    div.flex.justify-center
        div.bg-white
            div.border.rounded.shadow.p-3.justify-between.flex.w-128
                h5.font-bold.text-gray-600 รายละเอียด
                button.h-8.px-2.font-semibold.rounded-md.bg-gray-200.text-black.rounded-xs(type="submit") เพิ่ม
            div.pt-6
                div.flex.justify-between.border.rounded.shadow
                    div.flex.grid-cols-3.divide-x
                        div.p-3.text-center.w-52
                            h5.font-bold.text-gray-600 ประเภทห้อง
                        div.p-3.text-center.w-28
                            h5.font-bold.text-gray-600 เลขห้อง
                        div.p-3.text-center.w-20
                            h5.font-bold.text-gray-600 ราคา
                        div.p-3.text-center.w-40
                            h5.font-bold.text-gray-600 สถานะ
                        div
                    div.flex.justify-end
                        button.px-2.font-semibold.text-center.font-bold.text-gray-600 แก้ไข
                div.flex.justify-between.border.rounded.shadow
                    div.flex.grid-col
                        div.p-3.text-center.w-52
                            h5.text-gray-600 ห้องสุพีเรียร์สตูดิโอ
                        div.p-3.text-center.w-28
                            h5.text-gray-600 101
                        div.p-3.text-center.w-20
                            h5.text-gray-600 2000
                        div.p-3.border-transparent.custom-select
                        select
                            option(value="0") เปิดใช้งาน
                            option(value="1") ไม่เปิดใช้งาน
                            
                        div
                    div.flex.justify-end
                        button.px-2.font-semibold.text-center.text-red-500 ลบ
                

</template>

<script lang="js">
export default {
    
}
</script>

