<template lang="pug">
div.pl-40
    a.block.text-3xl.text-left.text-c3 สมัครสมาชิก Adop Place
    div.grid.grid-rows-3.grid-flow-col.gap-4
    a.block.p-10.text-3xl.text-left ข้อมูลสมาชิก
        tr.flex.items-center
            td.p-3.w-40.text-xl อีเมล
            input(type="text").rounded-none.border-2.h-8.w-56
        tr.flex.items-center
            td.p-3.w-40.text-xl รหัส
            input(type="text").rounded-none.border-2.h-8.w-56
        tr.flex.items-center
            td.p-3.w-40.text-xl ชื่อ
            input(type="text").rounded-none.border-2.h-8.w-56
        tr.flex.items-center
            td.p-3.w-40.text-xl สกุล
            input(type="text").rounded-none.border-2.h-8.w-56
        tr.flex.items-center
            td.p-3.w-40.text-xl เบอร์โทรศัพท์
            input(type="text").rounded-none.border-2.h-8.w-56
    div.grid.grid-rows-3.grid-flow-col.gap-4
    a.block.p-10.text-3xl.text-left ข้อมูลสมาชิก
        tr
        tr
        tr.flex.items-center
            td.p-3.w-40.text-xl ชื่อ
            input(type="text").rounded-none.border-2.h-8.w-56
            td.pl-96.text-xl คำอธิบาย

        tr.flex.items-center.text-lg
            input(type="checkbox").rounded-none.h-5.w-8
            a.p-3 ไซส์ S
            input(type="checkbox").rounded-none.h-5.w-8
            a.p-3 ไซส์ M
            input(type="checkbox").rounded-none.h-5.w-8
            a.p-3 ไซส์ L
        tr.flex.items-center
            tr.p-3.w-69.text-xl โรคประจำตัวสัตว์เลี้ยง
            input(type="text").rounded-none.border-2.h-32.w-69
        tr.flex.items-center.pt-8
            button.h-10.px-2.font-semibold.text-lg.rounded-md.bg-c3.text-white.rounded-xs(type="submit") เพิ่มสัตว์เลี้ยง
    div.flex.items-center.pl-96
            button.h-8.px-2.font-semibold.rounded-md.text-white.rounded-xs.bg-c3.text-xl(type="submit") สมัครสมาชิก
</template>


<script>
export default {
    
}
</script>