<template lang="pug">
    .px-24.pb-12
        .grid.grid-cols-5.gap-3
            img(v-for="(img, idx) in images" :key="idx" :src="img" :class="`${idx===0 ? 'row-span-2 col-span-2' : ''}`")
       
        .border.px-4.py-3.mt-3
            h2.text-2xl โรงแรมอาร์ค 39 อาร์ต แอนด์ คราฟท์

        .grid.grid-cols-12.mt-3.gap-x-3
            .col-span-9
                .border.px-4.py-3.flex.justify-between
                    p.text-lg รายละเอียดที่พัก
                    p.text-lg ห้องพัก
                    p.text-lg สิ่งอำนวยความสะดวก
                    p.text-lg รีวิว
                    p.text-lg ตำแหน่งที่ตั้ง
                    p.text-lg นโยบายที่พัก
                
                .mt-3
                    p ห้องว่าง
                    .grid.grid-cols-4.border.px-4.py-3.mt-3
                        .border-r.pl-6
                            p วันที่เช็คอิน
                            p อังคาร 30 พ.ย. 2021
                            p ตั้งแต่ 14:00 ถึง 00:00
                        .border-r.pl-6
                            p วันที่เช็คเอาท์
                            p พฤหัสบดี 2 ธ.ค. 2021
                            p เข้าพัก 2 คืน
                        .border-r.pl-6
                            p ผู้เข้าพัก
                            p ผู้ใหญ่ 1 ท่าน
                            p สัตว์ 1 ตัว
            .col-span-3.row-span-2
                .border.px-4.py-3.h-full
                    p รีวิว

            .col-span-12.mt-3
                table.w-full.border
                    thead.border.text-left
                        tr
                            th.p-3.border-r ประเภทห้องพัก
                            th.p-3.border-r ผู้เข้าพัก
                            th.p-3.border-r ราคาสำหรับ 2 คืน
                            th.p-3.border-r จอง
                    tbody.align-top
                        tr
                            td.border-r.p-3
                                p.text-2xl ห้องสุพีเรียร์สตูดิโอ
                                p 1 เตียงควีนไซส์
                                p ขนาดห้อง 28 ตร. ม
                                p สระว่ายน้ำ
                                p ห้องน้ำส่วนตัว
                                p โทรทัศน์
                                p ฟรี Wi-Fi
                            td.border-r.px-3.py-3 2 คน
                            td(class="text-[#838383] border-r px-3 py-3 font-medium")
                                p.line-through 3,890
                                span B
                                span(class="text-[#FF0000] ml-2") 2,178
                            td.border-r.px-3.py-3
                                button(@click="checkout" class="bg-[#00B8A9] text-white px-4 py-2 rounded-full") เลือกห้องนี้

</template>

<script>
export default {
  layout: 'loggedIn',
  data() {
    return {
      images: [
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
        'https://image.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg',
      ],
    }
  },
  methods: {
    checkout() {
      this.$router.push(`/booking/${this.$route.params.id}/checkout`)
    },
  },
}
</script>
