<template lang="pug">
    div
        component(:is="renderComponent")
</template>

<script>
import FillFrom from '@/components/CheckoutForms/FillForm.vue'
import Checkout from '@/components/CheckoutForms/Checkout.vue'
import { mapGetters } from 'vuex'
export default {
  layout: 'loggedIn',
  data() {
    return {}
  },
  components: {
    FillFrom,
    Checkout,
  },
  mounted() {},
  computed: {
    renderComponent() {
      if (this.getStepCounts === 2) return FillFrom
      else if (this.getStepCounts === 3) return Checkout
    },

    ...mapGetters({ getStepCounts: 'checkout/getStepCounts' }),
  },
}
</script>
